#main {
    padding: 0;
    border: 1px solid #E6E6EA;
    width: 400px;
}

#page-title {
    position: relative;
    background-color: black;
    width: 100%;
    height: 60px;
}

.wechat {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 20px;
}

.plus {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    width: 60px;
    color: white;
    font-size: 20px;
}

#search-panel {
    background-color: #EAEAEA;
    text-align: center;
    padding: 5px;
}

#search-panel form {
    margin: 0;
}

#search-panel form input {
    border: 1px solid #E6E6EA;
    width: 100%;
    height: 25px;
}

#logged-in {
    display: flex;
    flex-flow: row;
    background-color: #F3F2F7;
    border-top: 1px solid #E6E6EA;
    border-bottom: 1px solid #E6E6EA;
    color: #6E6D74;
}

#logged-in .img-computer {
    flex: 0 0 60px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#logged-in .content {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

#chats .on-top {
    background-color: #F3F2F7;
}

#chats .chat {
    border-bottom: 1px solid #E6E6EA;
    height: 60px;
    padding: 5px;
    display: flex;
    flex-flow: row;
}

#chats .chat .icon-panel {
    flex: 0 0 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#chats .chat .icon-panel .icon {
    height: 60px;
    width: 60px;
}

#chats .chat .content-panel {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

#chats .chat .content-panel .name {
    flex: 0 0 30px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

#chats .chat .content-panel .content {
    flex: 1 1 auto;
    font-size: 13px;
    color: #A5A5A5;
}

#tabs {
    display: flex;
    flex-flow: row;
    background-color: #F5F3F5;
    padding: 3px;
    height: 80px;
}

#tabs .tab {
    flex: 1 1 25%;
    display: flex;
    flex-flow: column;
}

#tabs .tab .img {
    flex: 1 1 66%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#tabs .tab .title {
    flex: 1 1 34%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#tabs .current-tab .title {
    color: #27AA28;
}



    
